<div class="cards">
  {{#foreach posts}}
    <article class="card">
      <h3><a href="{{url absolute="true"}}">{{title}}</a></h3>
      <p class="time">{{date published_at format="YYYY-MM-DD"}}</p>
      <p>{{excerpt}}</p>
      <p><a class="btn small" href="{{url absolute="true"}}">阅读全文</a></p>
    </article>
  {{/foreach}}
</div>

{{> "pagination"}}

