{{!< default}}

{{#post}}
<article class="section container">
  <header>
    <h1>{{title}}</h1>
    {{#if feature_image}}
      <img class="card-cover" src="{{img_url feature_image size="l"}}" alt="{{title}}" loading="eager" />
    {{/if}}
    <p class="time">{{date published_at format="YYYY-MM-DD"}} · {{#has tag="hash-lang-zh"}}{{reading_time minute="1分钟阅读" minutes="%分钟阅读"}}{{else}}{{reading_time minute="1 min read" minutes="% min read"}}{{/has}}</p>
  </header>
  <section class="content">
    {{content}}
  </section>
</article>
{{/post}}


